.demo{ background: #25303b;padding: 2em 0; }
.main-timeline{
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.main-timeline:before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    margin: 0 0 0 -1px;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.main-timeline .timeline:after{
    content: "";
    display: block;
    clear: both;
}
.main-timeline .timeline-content{
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
.main-timeline .date{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #25303b;
    padding: 5px 0;
    margin: 0 0 0 -36px;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 7px #25303b;
}
.main-timeline .date span{
    display: block;
    text-align: center;
}
.main-timeline .day,
.main-timeline .year{
    font-size: 10px;
}
.main-timeline .month{
    font-size: 15px;
}
.main-timeline .title{
    padding: 15px;
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}
.main-timeline .title:after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: -5px;
    transform: rotate(-45deg);
}
.main-timeline .description{
    padding: 15px;
    margin: 0;
    font-size: 14px;
    color: #656565;
    background: #fff;
    border-radius: 0 0 6px 6px;
}
.main-timeline .timeline:nth-child(2n+2) .timeline-content{
    float: right;
}
.main-timeline .timeline:nth-child(2n+2) .title:after{
    left: -5px;
}
.main-timeline .timeline:nth-child(1) .title,
.main-timeline .timeline:nth-child(1) .title:after{
    background: #9f84c4;
}
.main-timeline .timeline:nth-child(2) .title,
.main-timeline .timeline:nth-child(2) .title:after{
    background: #02a2dd;
}
.main-timeline .timeline:nth-child(3) .title,
.main-timeline .timeline:nth-child(3) .title:after{
    background: #58b25e;
}
.main-timeline .timeline:nth-child(4) .title,
.main-timeline .timeline:nth-child(4) .title:after{
    background: #eab715;
}

/*.timeline:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    !* background: #f5f6fa; *!
    top: 0px;
    bottom: 0px;
    margin-left: 38px;
}*/
@media only screen and (max-width: 990px){
    .main-timeline{ width: 100%; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before,
    .main-timeline .date{
        left: 6%;
    }
    .main-timeline .timeline-content{
        width: 85%;
        float: right;
    }
    .main-timeline .title:after{
        left: -5px;
    }
}
@media only screen and (max-width: 480px){
    .main-timeline:before,
    .main-timeline .date{
        left: 12%;
    }
    .main-timeline .timeline-content{
        width: 75%;
    }
    .main-timeline .date{
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }
    .main-timeline .month{
        font-size: 14px;
    }


}



/* New Timeline style */
.vertical-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.vertical-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#vertical-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
}
.vertical-timeline-content .btn {
    float: right;
}
#vertical-timeline.light-timeline:before {
    background: #e7eaec;
}
.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline.center-orientation .vertical-timeline-content:before {
    border-color: transparent transparent transparent #f5f5f5;
}
.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
    background: #a4d4a4;
}
@media only screen and (min-width: 1170px) {
    #vertical-timeline.center-orientation {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #vertical-timeline.center-orientation:before {
        left: 50%;
        margin-left: -20px;
    }
}
@media only screen and (max-width: 1170px) {
    .center-orientation.dark-timeline .vertical-timeline-content:before {
        border-color: transparent #f5f5f5 transparent transparent;
    }
}
.vertical-timeline-block {
    position: relative;
    margin: 2em 0;
}
.vertical-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.vertical-timeline-block:first-child {
    margin-top: 0;
}
.vertical-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-block {
        margin: 4em 0;
    }
    .center-orientation .vertical-timeline-block:first-child {
        margin-top: 0;
    }
    .center-orientation .vertical-timeline-block:last-child {
        margin-bottom: 0;
    }
}
.vertical-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 3px solid #f1f1f1;
    text-align: center;
}

@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-icon {
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        font-size: 19px;
    }
    .center-orientation .vertical-timeline-icon i {
        margin-left: -12px;
        margin-top: -10px;
    }
    .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
        visibility: hidden;
    }
}
.vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
}
.vertical-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.vertical-timeline-content h2 {
    font-weight: 400;
    margin-top: 4px;
}
.vertical-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.vertical-timeline-content .vertical-date {
    float: left;
    font-weight: 500;
}
.vertical-date small {
    color: #1ab394;
    font-weight: 400;
}
.vertical-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
    .vertical-timeline-content h2 {
        font-size: 18px;
    }
    .vertical-timeline-content p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .center-orientation .vertical-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .center-orientation .vertical-timeline-content .btn {
        float: left;
    }
    .center-orientation .vertical-timeline-content .vertical-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 2px;
        font-size: 14px;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
        float: right;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
        float: right;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
        visibility: hidden;
    }
}

.timeLine .vertical-timeline-block .vertical-timeline-content .vertical-date {
    left: -170px;
    right: auto;
    text-align: right;
    position: absolute;
    top: 0px;
    white-space: nowrap;
}

.navy-bg {
    background-color: #ffffff;
    color: #1ab394;
}



#vertical-timeline::before {
    left: 11px;
}

.vertical-container {
    width: 100%;
}

.timeLine .years {
    height: 450px;
    overflow-y: auto;
    margin-top: 2em;
    width: 80px;
}

.timeLine .years ul {
    padding: 0px;
}

.timeLine .years li {
    line-height: 50px;
}

.timeLine .years li a {
    color: #4eaa4d;
    padding: 5px;
}

.timeLine .years li.active a {
    background: #4eaa4d;
    color: #fff;
    border-radius: 5px;
}

/************************/

/*滚动条样式*/
.years::-webkit-scrollbar { /*滚动条整体样式*/
    width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.years::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    /*background: rgba(0,0,0,0.2);*/
    background: #4eaa4d;
}

.years::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}


.vertical-timeline-icon{
    width: 25px;
    height: 25px;
}
.vertical-timeline-icon i{
    margin-left: -12px;
    margin-top: -8px;
}
#vertical-timeline::before{
    left: 11px;
}
.vertical-container{
    width:100%;
}
.navy-bg {
    background-color: #1fb745;
    color: #34b725;
}